{extend name="public:base"}
{block name="main"}
<div class="layui-form">
  条件搜索：
  <div class="layui-inline">
    <input class="layui-input" name="start" id="start"  placeholder="请输入开始时间">
  </div>
  <div class="layui-inline">
    <input class="layui-input" name="end" id="end"  placeholder="请输入结束时间">
  </div>
  <div class="layui-inline">
    <input class="layui-input" name="keyword"  placeholder="请输入搜索关键字">
  </div>
  <div class="layui-inline">
    <button class="layui-btn" data-type="reload" lay-filter="search" lay-submit>搜索</button>
    <button class="layui-btn layui-btn-primary"  lay-filter="search" lay-submit>重置</button>
    <a href="javascript:LayerOpen('adminadd');" class="layui-btn">添加管理员</a>
  </div>

</div>
<table class="layui-table" lay-data="{height:500,url:location.href, page:true, id:'table'}" lay-filter="table" lay-size="lg">
  <thead>
    <tr>
      <th lay-data="{field:'adminid',width:75}">id</th>
      <th lay-data="{field:'avatar',templet:'#avatar',width:75}">头像</th>
      <th lay-data="{field:'nickname'}">管理员昵称</th>
      <th lay-data="{field:'username'}">账号</th>
      <th lay-data="{field:'rolename'}">角色</th>
      <th lay-data="{field:'status',templet:'#status',width:105}">状态</th>
      <th lay-data="{field:'logintime'}">上次登录时间</th>
      <th lay-data="{field:'addtime'}">添加时间</th>
      <th lay-data="{field:'uptime'}">更新时间</th>
      <th lay-data="{fixed: 'right', align:'center', toolbar: '#barDemo'}">操作</th>
    </tr>
  </thead>
</table>
<script type="text/html" id="barDemo">
  {{#  if(d.adminid != 1){ }}
    <a class="layui-btn  layui-btn-sm edit"  lay-url='adminedit' lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm del" lay-event="del"  lay-url='admindel'>删除</a>
  {{#  } }} 
</script>

<script>
layui.use(['table','laydate','form'], function(){
  
  table = layui.table;
  laydate = layui.laydate;
  form = layui.form;
 
  admin.init(['laydate','search','switch','tool']);


});

</script>

<script type="text/html" id="avatar">
  <img src='{{d.avatar}}' width="50px;">
</script>

<script type="text/html" id="status">
    {{#  if(d.adminid != 1){ }}
      
        <input type="checkbox" name="status" lay-skin="switch" lay-url='adminup' lay-text="启用|禁用" lay-filter="status" value="{{d.adminid}}" lay-url='adminup' {{#  if(d.status == 1){ }} checked {{#  } }}>
    {{#  } }}
</script>

{/block}